In [1]:
import pandas as pd 
import numpy as np

In [2]:
f = "/bigstore/GeneralStorage/fangming/projects/amygdala/Honglab_Amygdala_genes_organized_Nov15_2022.csv"
df = pd.read_csv(f, index_col=0)
genes = df['Gene_name_std'].values
print(df.shape, df['priority_binary'].sum())
df

(235, 5) 25

,Gene_name_std,Gene name,Source,priority,priority_binary
0,Adra2a,Adra2aAdra2a,"Chen 2019, Cell; MeA, neuronal subtype markers...",YesNo,1
1,Brs3,Brs3,"Chen 2019, Cell; MeA, sexually dimorphic genes",Yes,1
2,Cckar,Cckar,"Chen 2019, Cell; MeA, sexually dimorphic genes",Yes,1
3,Cckbr,Cckbr,"Chen 2019, Cell; MeA, neuronal subtype markers...",Yes,1
4,Chodl,Chodl,"Chen 2019, Cell; MeA, sexually dimorphic genes",Yes,1
...,...,...,...,...,...
230,Zbtb20,ZBTB20,"Herrero 2020, Molecular Autism; human ASD risk...",No,0
231,Zeb2,Zeb2,"Hochgeborner 2022, bioRxiv; glutamatergic neur...",No,0
232,Zfhx4,Zfhx4,"Hochgeborner 2022, bioRxiv; glutamatergic neur...",No,0
233,Zic4,Zic4,"Hochgeborner 2022, bioRxiv; glutamatergic neur...",No,0
234,Zic5,Zic5,"Hochgeborner 2022, bioRxiv; glutamatergic neur...",No,0

In [3]:
np.unique(genes).shape, genes.shape

((235,), (235,))

In [4]:
f = '/bigstore/GeneralStorage/fangming/projects/dredfish/res_seq/mm10_tm37-47_tp37_30bp_Oct28.csv'
dfnum = pd.read_csv(f)
dfnum

,chrom,start,end,seq,tm,onscore,offscore,repeat,prob,maxkmer,strand,gname,transcripts,len,gc
0,chr1,3214541,3214570,AGAAAGCGGGAATGTTTACTTGCTGTGTGG,39.76,100.0,0.0,0,0.310,0,+,Xkr4,1,30,0.466667
1,chr1,3214625,3214654,ACAAATCTTAGCTGATGGAGTGGTAAGCCC,38.59,100.0,0.0,0,0.276,0,+,Xkr4,1,30,0.466667
2,chr1,3214679,3214708,AATGGCATACACATTGCATCTGTATGCTCT,37.39,100.0,0.0,0,0.177,3,+,Xkr4,1,30,0.400000
3,chr1,3214721,3214750,TGTGTCCCAAAGTCTCTAGTAGACACATCA,37.01,100.0,0.0,0,0.234,2,+,Xkr4,1,30,0.433333
4,chr1,3214751,3214780,TTTTGACCTTGGATGGGAAGAGGGTAAGTC,38.33,100.0,0.0,0,0.381,2,+,Xkr4,1,30,0.466667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1098716,chrY,2663507,2663536,TTTTCGGCTTCTGTAAGGCTTTTCCACCTG,39.57,100.0,0.0,0,0.302,2,+,Sry,1,30,0.466667
1098717,chrY,2663537,2663566,CATCCCAGCTGCTTGCTGATCTCTGTATTT,39.00,100.0,0.0,0,0.198,10,+,Sry,1,30,0.466667
1098718,chrY,2663567,2663596,TGCATGCTGGGATTCTGCTGGGCCAACTTG,44.74,100.0,0.0,0,0.339,0,+,Sry,1,30,0.566667
1098719,chrY,2663597,2663626,TGCCTCTCACCACGGGACCACACCATAAAT,43.00,100.0,0.0,0,0.333,0,+,Sry,1,30,0.533333
1098720,chrY,2663627,2663656,GCATTCATGGGGCGCTTGACATGGCCCTCC,46.60,100.0,0.0,0,0.189,0,+,Sry,1,30,0.633333

In [5]:
dfnum.describe()

,start,end,tm,onscore,offscore,repeat,prob,maxkmer,transcripts,len,gc
count,1.098721e+06,1.098721e+06,1.098721e+06,1.098721e+06,1.098721e+06,1098721.0,1.098721e+06,1.098721e+06,1.098721e+06,1098721.0,1.098721e+06
mean,7.731173e+07,7.731176e+07,4.134712e+01,9.977535e+01,7.907167e-03,0.0,2.504890e-01,1.080831e+00,1.819567e+00,30.0,5.226900e-01
std,4.419780e+07,4.419780e+07,3.298542e+00,5.407218e-01,6.001879e-01,0.0,9.071136e-02,1.292113e+00,1.600295e+00,0.0,7.725592e-02
min,7.253280e+05,7.253570e+05,3.701000e+01,9.700100e+01,0.000000e+00,0.0,0.000000e+00,0.000000e+00,1.000000e+00,30.0,3.666667e-01
25%,3.848940e+07,3.848942e+07,3.805000e+01,1.000000e+02,0.000000e+00,0.0,1.880000e-01,0.000000e+00,1.000000e+00,30.0,4.666667e-01
50%,7.601929e+07,7.601932e+07,4.101000e+01,1.000000e+02,0.000000e+00,0.0,2.470000e-01,0.000000e+00,1.000000e+00,30.0,5.333333e-01
75%,1.107561e+08,1.107561e+08,4.426000e+01,1.000000e+02,0.000000e+00,0.0,3.100000e-01,2.000000e+00,2.000000e+00,30.0,6.000000e-01
max,1.951766e+08,1.951767e+08,4.699000e+01,1.000000e+02,4.999700e+01,0.0,5.000000e-01,1.000000e+01,6.600000e+01,30.0,7.000000e-01

In [6]:
genes_cnst = dfnum.groupby('gname').size()
genes_cnst

gname
0610005C13Rik     20
0610009B22Rik      9
0610009E02Rik      9
0610009L18Rik     11
0610010F05Rik     32
                ...
Zyx               34
Zzef1            262
Zzz3              74
a                 12
ccdc198           23
Length: 23693, dtype: int64

In [7]:
# genes_cnst.loc[df['Gene name'].values]
[gene for gene in genes if gene not in genes_cnst.index.values]

[]

In [8]:
'Cd33' in genes_cnst.index.values

True

In [9]:
'Tent5a' in genes_cnst.index.values

True

In [10]:
'Isl1' in genes_cnst.index.values

True

In [11]:
'Ccn3' in genes_cnst.index.values

True

In [12]:
'Pappa2' in genes_cnst.index.values

True

In [13]:
'Prkn' in genes_cnst.index.values

True

In [14]:
genes_rename = {
    'Fam46a': "Tent5a", 
    'Is11': "Isl1",
    'Nov': "Ccn3",
    'Papp2': "Pappa2",
    'Park2': "Prkn",
}